<a href="https://colab.research.google.com/github/camiquinteros1/python-ciencia-datos/blob/main/Copia_de_TPFINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TP FINAL

**Ejercicio 1**\
Buscar un dataset (Que no sea los trabajados en clases)

**Ejercicio 2**\
Realizar una introduccion al dataset de que se trata,definir sus variables (Diccionario de datos)

**Ejercicio 3**\
Identificar el tipo de variable,decide justificando su respuesta.

**Ejercicio 4**\
Detectar Valores Ausente  y Valores Atipicos .Decidir si eliminarlos y el por que de la eleccion.

**Ejercicio 5**\
Realizar un analisis univariado y en base a esos graficos,sacar conclusiones.

**Ejercicio 6**\
Realizar analisis de matriz corelacion y explicar que variable estan correlacionadas\

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
pathCurso = '/content/drive/MyDrive/AP_UNdeC/Data/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

ruta_archivo = pathCurso + 'winemag-data-130k-v2.csv'

datos = pd.read_csv(ruta_archivo)
datos

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

eliminar datos vacios:

In [ ]:
del datos['Unnamed: 0']

Pocentaje de valores ausentes:

In [ ]:
datos.isnull().sum() / datos.shape[0] * 100

country                   0.048472
description               0.000000
designation              28.825661
points                    0.000000
price                     6.921544
province                  0.048472
region_1                 16.347493
region_2                 61.136715
taster_name              20.192197
taster_twitter_handle    24.015357
title                     0.000000
variety                   0.000769
winery                    0.000000
dtype: float64

Referencias:

In [ ]:
datos['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

Referencias de los vinos de Argentina:

In [ ]:
datos.loc[datos['country'] == 'Argentina'].isna().sum()

country                     0
description                 0
designation               898
points                      0
price                      44
province                    0
region_1                   53
region_2                 3800
taster_name                 3
taster_twitter_handle       3
title                       0
variety                     0
winery                      0
dtype: int64

Las Mayores referencias de Argentina:

In [ ]:
datos.loc[datos['country'] == 'Argentina']['winery'].value_counts()

Trapiche            113
Valentin Bianchi     66
Bodega Norton        58
Zuccardi             56
Viña Cobos           56
                   ...
Serrera               1
Mariana               1
Terrenal              1
Valle Austral         1
J. & F. Lurton        1
Name: winery, Length: 531, dtype: int64

Bodega Norton (tercer lugar en las referencias):

In [ ]:
len(datos.loc[datos['winery'] == 'Bodega Norton'])

58

Bodega mejor puntuada en Argentina:

In [ ]:
maximo = datos.loc[datos['country'] == 'Argentina']['points'].max()

datos.loc[(datos['country'] == 'Argentina') & (datos['points']==maximo)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
82754,Argentina,"If the color doesn't tell the full story, the ...",Nicasia Vineyard,97,120.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Bodega Catena Zapata 2006 Nicasia Vineyard Mal...,Malbec,Bodega Catena Zapata

In [ ]:
datos.iloc[82754]

country                                                          Argentina
description              If the color doesn't tell the full story, the ...
designation                                               Nicasia Vineyard
points                                                                  97
price                                                                120.0
province                                                  Mendoza Province
region_1                                                           Mendoza
region_2                                                               NaN
taster_name                                              Michael Schachner
taster_twitter_handle                                          @wineschach
title                    Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
variety                                                             Malbec
winery                                                Bodega Catena Zapata
Name: 82754, dtype: object

## **Eiminacion de valores Nulos:**

In [ ]:
datos.isna().sum()

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [ ]:
datos_copy = datos.copy(deep = True)

In [ ]:
del datos_copy['region_2']
del datos_copy['taster_twitter_handle']
del datos_copy['designation']

In [ ]:
datos_sin_nulos = datos_copy.dropna(axis=0)

In [ ]:
datos_sin_nulos.isna().sum()

country        0
description    0
points         0
price          0
province       0
region_1       0
taster_name    0
title          0
variety        0
winery         0
dtype: int64

In [ ]:
datos_sin_nulos['country'].nunique()

7

In [ ]:
display(datos_sin_nulos.groupby('country').mean().sort_values('price'))

<ipython-input-74-dbf7240e963d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(datos_sin_nulos.groupby('country').mean().sort_values('price'))

              points      price
country
Argentina  86.718649  24.517838
Spain      87.313183  28.342409
Canada     89.367589  35.636364
US         88.996349  36.289518
Australia  88.808479  37.504738
France     88.757060  41.269863
Italy      88.885301  41.651446

luego de ser eliminados:

In [ ]:
datos_sin_nulos['country'].value_counts()

US           37255
France       17457
Italy        10096
Spain         6501
Argentina     3700
Australia     2005
Canada         253
Name: country, dtype: int64

In [ ]:
datos_sin_nulos.groupby(['country','province']).count()

                            description  points  price  region_1  taster_name  \
country   province
Argentina Mendoza Province         3170    3170   3170      3170         3170
          Other                     530     530    530       530          530
Australia Australia Other           187     187    187       187          187
          New South Wales            76      76     76        76           76
          South Australia          1168    1168   1168      1168         1168
...                                 ...     ...    ...       ...          ...
US        Pennsylvania               13      13     13        13           13
          Texas                      75      75     75        75           75
          Vermont                     3       3      3         3            3
          Virginia                  378     378    378       378          378
          Washington               8575    8575   8575      8575         8575

                            title  variety  winery
country   province
Argentina Mendoza Province   3170     3170    3170
          Other               530      530     530
Australia Australia Other     187      187     187
          New South Wales      76       76      76
          South Australia    1168     1168    1168
...                           ...      ...     ...
US        Pennsylvania         13       13      13
          Texas                75       75      75
          Vermont               3        3       3
          Virginia            378      378     378
          Washington         8575     8575    8575

[64 rows x 8 columns]

In [ ]:
datos_sin_nulos[datos_sin_nulos['country'] == "US"]['province'].value_counts()

California        20040
Washington         8575
Oregon             5322
New York           2585
Virginia            378
Michigan            105
Texas                75
Colorado             46
Idaho                27
New Mexico           24
North Carolina       15
Pennsylvania         13
Arizona              11
Ohio                  8
Illinois              6
New Jersey            5
Missouri              4
Nevada                3
Iowa                  3
Vermont               3
Massachusetts         3
Connecticut           2
Kentucky              1
Hawaii                1
Name: province, dtype: int64